/* body {
  display: flex;
  flex-direction: column;
} */

.container-1 {
  background-color: #1f2937;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero button {
  background-color: #3882f6;
  color: white;
}

.link-left h4 {
  font-size: 24px;
  color: #f9faf8;
}

.container-2 h3 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.container-3 {
  background-color: #e5e7eb;
}

.container-3 .quote {
  font-style: italic;
  font-size: 28px;
  color: #1f2937;
  font-weight: 200;
}

.container-4 {
  background-color: #3882f6;
}

.action {
  color: #f9faf8;
}

.container-4 button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 16px;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
}
